<html>
    <body bgcolor=#d4a3ae>
        <center>
            <div style="padding-top: 160px; font-family:Georgia, 'Times New Roman', Times, serif">
                <h1 style="font-size: 30px;"> YOLO V3 INPUT SHOW </h1><br>
                <video width="320" height="240" controls>
                    <source src="sample.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
            </div>

            <div style="padding-top: 160px; font-family:Georgia, 'Times New Roman', Times, serif">
                <h1 style="font-size: 30px;"> YOLO V3 OUTPUT SHOW </h1><br>
                <video width="320" height="240" controls>
                    <source src="filename.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
            </div>
        </center>
    </body>
</html>